Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
psycopg2-binary==2.9.10
Flask-Login==0.6.3
Flask-WTF==1.2.1
APScheduler==3.10.4
kaggle==1.6.17
google-genai==1.8.0
google-api-python-client==2.150.0
google-auth-oauthlib==1.2.1
requests==2.32.3
cryptography==42.0.8
python-dotenv==1.0.1
gunicorn==23.0.0; platform_system != "Windows"
